<h1><%= @user.name %>様の詳細情報</h1>

<p>ユーザー名:
  <%= @user.name %>
</p>

<p>Eメール:
  <%= @user.email %>
</p>

<p>住所:
  <%= @user.address %>
</p>

<% if @current_user.id == @user.id %>
  <%= link_to("編集", "/users/#{HASHIDS.encode(@user.id)}/edit") %>
  <%= link_to("削除", "/users/#{HASHIDS.encode(@user.id)}/destroy_form") %>
<% end %>