<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="img-fluid rounded-start" src="<%= item.image %>" alt="商品画像">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><%= item.title %></h3>
        <p class="card-text">
          <small class="text-muted"><span class="fw-bold">作者: </span><%= item.author %></small>
        </p>
        <p class="card-text">
          <small class="text-muted"><span class="fw-bold">出版社: </span><%= item.publisher %></small>
        </p>
        <p class="card-text">
          <small class="text-muted"><span class="fw-bold">状態: </span><%= item.condition %></small>
        </p>
        <p class="card-text">
          <small class="text-muted"><span class="fw-bold">内容: </span><%= item.content %></small>
        </p>
        <p class="card-text">
          <small class="text-muted"><span class="fw-bold">ジャンル: </span><%= item.category %></small>
        </p>
        <a class="btn btn-primary" href="<%= "/items/#{@hashids.encode(item.id)}" %>"><%= item.title %>の詳細</a>
        
          <%= render "items/good", item: item %>

      </div>
    </div>
  </div>
</div>