<h1>本当に削除しますか?</h1>

<p>タイトル:
  <%= @item.title %>
</p>

<p>作者:
  <%= @item.author %>
</p>

<p>出版社:
  <%= @item.publisher %>
</p>

<p>内容:
  <%= @item.content %>
</p>

<p>状態:
  <%= @item.condition %>
</p>

<p>カテゴリー:
  <%= link_to(@item.category, "/items/category/#{@item.category}") %>
</p>

<p>出品者:
  <%= link_to(@item.user.name, "/users/#{HASHIDS.encode(@item.user.id)}/items") %>
</p>

<p>画像:
<%= image_tag @item.image.url if @item.image? %></p>
</p>

<%= link_to("詳細へ", "/items/#{HASHIDS.encode(@item.id)}") %>
<br>
<br>
<%= form_tag("/items/#{HASHIDS.encode(@item.id)}/destroy", method: :post) do %>
  <input type="submit" value="削除する">
<% end %>