<h1>自分が物々交換した商品</h1>
<%@items_offered.each do |item|%>
<p>交換した
    <%=link_to(item.user_offered.name,"/users/#{item.user_offered_id}/items")%>
    商品:
<%=link_to(item.item_offered.title,"/items/#{item.item_offered_id}/traded")%>
</p>
<p>交換した
    <%=link_to(item.user_requested.name,"/users/#{item.user_requested_id}/items")%>
    様の商品:
<%=link_to(item.item_requested.title,"/items/#{item.item_requested_id}/traded")%>
</p>
<p>-----------------------------------</p>
<%end%>

<%@items_requested.each do |item|%>
<p>交換した
    <%=link_to(item.user_requested.name,"/users/#{item.user_requested_id}/items")%>
    様の商品:
<%=link_to(item.item_requested.title,"/items/#{item.item_requested_id}/traded")%>
</p>
<p>交換した
    <%=link_to(item.user_offered.name,"/users/#{item.user_offered_id}/items")%>
    様の商品:
<%=link_to(item.item_offered.title,"/items/#{item.item_offered_id}/traded")%>
</p>
<p>-----------------------------------</p>
<%end%>