<h1 class="mb-4">自分が物々交換した商品</h1>

<div class="list-group mb-4">
  <% @items_offered.each do |item| %>
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">交換した <%= link_to item.user_offered.name, "/users/#{@hashids.encode(item.user_offered_id)}/items" %> 様:の商品</p>
        <p class="card-text"><%= link_to item.item_offered.title, "/items/#{@hashids.encode(item.item_offered_id)}/traded" %></p>
        <p class="card-text">交換した <%= link_to item.user_requested.name, "/users/#{@hashids.encode(item.user_requested_id)}/items" %> 様の商品:</p>
        <p class="card-text"><%= link_to item.item_requested.title, "/items/#{@hashids.encode(item.item_requested_id)}/traded" %></p>
        <%= link_to "#{item.item_offered.title}を配送してください", "/items/delivery/#{@hashids.encode(1)}/#{@hashids.encode(item.item_offered.id)}/#{@hashids.encode(item.item_requested.id)}", class: "btn btn-success mt-2" %>
      </div>
    </div>
  <% end %>
</div>

<div class="list-group">
  <% @items_requested.each do |item| %>
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">交換した <%= link_to item.user_requested.name, "/users/#{@hashids.encode(item.user_requested_id)}/items" %> 様の商品:</p>
        <p class="card-text"><%= link_to item.item_requested.title, "/items/#{@hashids.encode(item.item_requested_id)}/traded" %></p>
        <p class="card-text">交換した <%= link_to item.user_offered.name, "/users/#{@hashids.encode(item.user_offered_id)}/items" %> 様の商品:</p>
        <p class="card-text"><%= link_to item.item_offered.title, "/items/#{@hashids.encode(item.item_offered_id)}/traded" %></p>
        <%= link_to "#{item.item_requested.title}を配送してください", "/items/delivery/#{@hashids.encode(2)}/#{@hashids.encode(item.item_requested.id)}/#{@hashids.encode(item.item_offered.id)}", class: "btn btn-success mt-2" %>
      </div>
    </div>
  <% end %>
</div>
<br>