<h1><%=@item.name%>の詳細ページ</h1>

<p>タイトル:
<%=@item.name%>
</p>

<p>作者:
<%=@item.author%>
</p>

<p>出版社:
<%=@item.publisher%>
</p>

<p>内容:
<%=@item.content%>
</p>

<p>状態:
<%=@item.situation%>
</p>

<p>カテゴリー:
<%=link_to(@item.category,"/items/category/#{@item.category}")%>
</p>
<p>出品者:
<%=link_to(@item.user.name,"/users/#{@item.user.id}")%>
</p>

<p>画像:
<%=@item.image%>
</p>

<%= link_to("一覧へ","/items/index") %>

<%if @current_user.id==@item.user.id%>
<%= link_to("編集", "/items/#{@item.id}/edit") %>
<%= link_to("削除","/items/#{@item.id}/destroy") %>
<%end%>