<div class="row">
  <div class="col-6">
    <img src="<%= @item.image.url %>" class="card-img-top" alt="本の画像">
    <div class="card-body">
      <br>
      <h5>タイトル: </h5>
      <h4 class="card-title"><%= @item.title %></h4>
      <p class="card-text"><h5>内容:</h5> <%= @item.content %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span class="fw-bold">作者: </span><%= link_to(@item.author,"/items/author/#{@item.author}") %></li>
      <li class="list-group-item"><span class="fw-bold">出版社: </span><%= link_to(@item.publisher,"/items/publisher/#{@item.publisher}") %></li>
      <li class="list-group-item"><span class="fw-bold">状態: </span><%= @item.condition %></li>
      <li class="list-group-item"><span class="fw-bold">おすすめ度: </span><%= @item.recommend_point %></li>
      <li class="list-group-item"><span class="fw-bold">仕事で役に立った度: </span><%= @item.help_point %></li>
      <li class="list-group-item"><span class="fw-bold">学びになった度: </span><%= @item.learn_point %></li>
      <li class="list-group-item"><span class="fw-bold">カテゴリー: </span><%= link_to(@item.category,"/items/category/#{@item.category}") %></li>
      <li class="list-group-item"><span class="fw-bold">ユーザー: </span><%= link_to(@item.user.name,"/users/#{@hashids.encode(@item.user_id)}/items") %></li>
    </ul>
    <br>
    <div class="card-body">
      <% if @current_user.id == @item.user.id %>
        <%= link_to "編集", "/items/#{@hashids.encode(@item.id)}/edit", class: "btn btn-success" %>
        <%= link_to "削除", "/items/#{@hashids.encode(@item.id)}/destroy_form", class: "btn btn-danger" %>
      <% else %>
        <%= link_to "この商品に物々交換リクエストする", "/items/#{@hashids.encode(@item.id)}/trade_items", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <div class="col-6">
    <%= render "items/trades" %>
  </div>
</div>
<br>