<h2>評価</h2>
<% @reviews.each do |review| %>
  <p>
    評価: <%= review.point %> 点  
    <%=link_to(review.user.name,"/users/#{review.user.id}/items")%>
  </p>
  <p>
    コメント:
    <%= review.comment %>
  </p>
  <% if review.user_id == @current_user.id %>
    <%= link_to("編集", "/reviews/#{review.item_id}/#{review.id}/edit") %>
    <%= link_to("削除", "/reviews/#{review.item_id}/#{review.id}/destroy", data: { turbo_method: "post" }) %>
  <% end %>
<% end %>

<% if @item.user_id != @current_user.id %>
  <%= form_tag("/reviews/#{@item.id}/create", method: :post) do %>
    <p>
      <label for="point">評価:</label>
      <input type="range" id="point" name="point" required max="5" min="1" value="<%= @point %>">
    </p>
    <p>
      <label for="comment">コメント:</label>
      <textarea id="comment" name="comment" minlength="20" maxlength="100" rows="5" cols="30" placeholder="コメントを入力してください" required><%= @comment %></textarea>
    </p>
    <input type="submit" value="投稿">
  <% end %>
<% end %>