<nav class="navbar navbar-expand-lg sticky-top" style="background-color: orange;">
  <div class="container-fluid">
    <a class="navbar-brand">BUTUBUTU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if session[:user_id] %>
          <%= link_to("商品一覧", items_path, class: "nav-link") %>
          <%= link_to("検索", search_items_path, class: "nav-link") %>
          <%= link_to("出品一覧", items_user_path(@hashids.encode(@current_user.id)), class: "nav-link") %>
          <%= link_to("いいねした商品", like_items_path, class: "nav-link") %>
          <%= link_to("出品", new_item_path, class: "nav-link") %>
          <%= link_to("フォローした人の出品", "/users/follows", class: "nav-link") %>
          <%= link_to("交換完了明細", details_items_path, class: "nav-link") %>
          <%= link_to("ユーザー一覧","/users", class: "nav-link") %>
          <%= link_to("ユーザー情報詳細", user_path(@hashids.encode(@current_user.id)), class: "nav-link") %>
          <%= link_to("ログアウト", logout_path, data: { turbo_method: "post" }, class: "nav-link") %>
        <% else %>
          <%= link_to("ホーム", root_path, class: "nav-link") %>
          <%= link_to("ログイン", "/login", class: "nav-link") %>
          <%= link_to("アプリの説明", about_path, class: "nav-link") %>
          <%= link_to("新規登録", new_user_path, class: "nav-link") %>
        <% end %>
      </div>
    </div>
  </div>
</nav>