<!DOCTYPE html>
<html>
  <head>
    <title>ITぶつぶつ園</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if session[:user_id] %>
      <%= link_to "商品一覧", "/items/index" %>
      <%= link_to "出品一覧", "/users/#{@current_user.id}/myitems" %>
      <%= link_to "出品", "/items/new" %>
      <%= link_to "カテゴリー", "/items/categorize" %>
      <%= link_to "ユーザー一覧", "/users/index" %>
      <%= link_to "ユーザー情報詳細", "/users/#{@current_user.id}" %>
      <%= link_to("ログアウト", "/logout", data: { turbo_method: "post" }) %>    
      <% else %>
      <%= link_to "ホーム", "/" %>
      <%= link_to "ログイン", "/login" %>
      <%= link_to "新規登録", "/users/new" %>
    <% end %>
  </head>

  <body>
    <br>
    <br>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>
  </body>
</html>
