<!DOCTYPE html>
<html>
  <head>
    <title>ITぶつぶつ園</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if session[:user_id] %>
      <%= link_to("商品一覧", items_path) %>
      <%= link_to("出品一覧", user_items_user_path(HASHIDS.encode(@current_user.id))) %>
      <%= link_to("いいねした商品", like_items_path) %>
      <%= link_to("出品", new_item_path) %>
      <%= link_to("カテゴリー", categorize_items_path) %>
      <%= link_to("出版社", publishers_items_path) %>
      <%= link_to("作者", authors_items_path) %>
      <%= link_to("交換完了明細", details_items_path) %>
      <%= link_to("ユーザー一覧", users_path) %>
      <%= link_to("ユーザー情報詳細", user_path(HASHIDS.encode(@current_user.id))) %>
      <%= link_to("ログアウト", logout_path, data: { turbo_method: "post" }) %>
    <% else %>
      <%= link_to("ホーム", root_path) %>
      <%= link_to("アプリの説明", about_path) %>
      <%= link_to("ログイン", login_path) %>
      <%= link_to("新規登録", new_user_path) %>
    <% end %>
  </head>

  <body>
    <br>
    <br>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>
    <%= yield %>
  </body>
</html>