<!DOCTYPE html>
<html>
  <head>
    <title>ITぶつぶつ園</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/items">BUTUBUTU</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <% if session[:user_id] %>
              <%= link_to("商品一覧", items_path, class: "nav-link") %>
              <%= link_to("出品一覧", items_user_path(@hashids.encode(@current_user.id)), class: "nav-link") %>
              <%= link_to("いいねした商品", like_items_path, class: "nav-link") %>
              <%= link_to("出品", new_item_path, class: "nav-link") %>
              <%= link_to("カテゴリー", categorize_items_path, class: "nav-link") %>
              <%= link_to("出版社", publishers_items_path, class: "nav-link") %>
              <%= link_to("作者", authors_items_path, class: "nav-link") %>
              <%= link_to("フォローした人の投稿", "/users/follows", class: "nav-link") %>
              <%= link_to("交換完了明細", details_items_path, class: "nav-link") %>
              <%= link_to("ユーザー一覧", users_path, class: "nav-link") %>
              <%= link_to("ユーザー情報詳細", user_path(@hashids.encode(@current_user.id)), class: "nav-link") %>
              <%= link_to("ログアウト", logout_path, data: { turbo_method: "post" }, class: "nav-link") %>
            <% else %>
              <%= link_to("ホーム", root_path, class: "nav-link") %>
              <%= link_to("ログイン", "/login", class: "nav-link") %>
              <%= link_to("アプリの説明", about_path, class: "nav-link") %>
              <%= link_to("新規登録", new_user_path, class: "nav-link") %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <br>
    <br>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>
    <main class="container">
      <%= yield %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>